<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../output.css">
    <title>Financiamiento P1</title>
</head>

<body class="w-full px-10 py-[52px]">
    <h1 class="font-bold text-5xl mb-12">Financiamiento: Paso 1</h1>
    <main class="flex flex-col justify-center items-center">
        <section class="flex flex-col w-[810px]">
            <div class="flex justify-start gap-3 w-full mb-11">
                <label class="flex flex-col font-bold w-full" for="valorVehiculo">
                    Valor del vehículo
                    <input class="bg-[#F3F3F3] rounded-[10px] w-full h-[62px] px-10 py-2" type="number"
                        id="valorVehiculo" value="<%= precio %>" placeholder="Valor del vehículo" readonly>
                </label>
                <label class="flex flex-col font-bold w-full" for="engancheVehiculo">
                    Escoge tu enganche
                    <input class="bg-[#F3F3F3] rounded-[10px] w-full h-[62px] px-10 py-2" type="number"
                        id="engancheVehiculo" placeholder="Escoge tu enganche">
                </label>
            </div>
            <article class="flex flex-wrap gap-2">
                <div class="w-[250px] h-28 rounded-xl font-bold border-4 border-red-600 text-2xl">
                    <input class="hidden" type="radio" id="mensualidad12" name="mensualidad" value="12">
                    <label class="flex flex-col justify-center items-center w-full h-full" for="mensualidad12">
                        <p>12 meses</p>
                    </label>
                </div>
                <div
                    class="w-[250px] h-28 rounded-xl flex justify-center items-center font-bold border-4 border-red-600 text-2xl">
                    <input class="hidden" type="radio" id="mensualidad24" name="mensualidad" value="24">
                    <label class="flex flex-col justify-center items-center w-full h-full" for="mensualidad24">
                        <p>24 meses</p>
                    </label>
                </div>
                <div
                    class="w-[250px] h-28 rounded-xl flex justify-center items-center font-bold border-4 border-red-600 text-2xl">
                    <input class="hidden" type="radio" id="mensualidad48" name="mensualidad" value="48">
                    <label class="flex flex-col justify-center items-center w-full h-full" for="mensualidad48">
                        <p>48 meses</p>
                    </label>
                </div>
                <div
                    class="w-[250px] h-28 rounded-xl flex justify-center items-center font-bold border-4 border-red-600 text-2xl">
                    <input class="hidden" type="radio" id="mensualidad60" name="mensualidad" value="60">
                    <label class="flex flex-col justify-center items-center w-full h-full" for="mensualidad60">
                        <p>60 meses</p>
                    </label>
                </div>
                <div
                    class="w-[250px] h-28 rounded-xl flex justify-center items-center font-bold border-4 border-red-600 text-2xl">
                    <input class="hidden" type="radio" id="mensualidad72" name="mensualidad" value="72">
                    <label class="flex flex-col justify-center items-center w-full h-full" for="mensualidad72">
                        <p>72 meses</p>
                    </label>
                </div>
            </article>
        </section>

        <section class="flex flex-col items-center justify-start">
            <img class="max-w-[302px] mb-[74px]" src="../img/vehiculos/001.png" alt="modelo de carro">
            <div>
                <label class="font-bold" for="Seguro">Seguro
                    <select class="bg-[#F3F3F3] rounded-[10px] w-full h-[62px] px-10 py-2" name="Seguro" id="Seguro">
                        <option value="" disabled hidden>Selecciona una opción</option>
                        <option id="12meses" value="12">12 meses</option>
                        <option id="24meses" value="24">24 meses</option>
                        <option id="36meses" value="36">36 meses</option>
                        <option id="48meses" value="48">48 meses</option>
                        <option id="nodeseo" value="nodeseo">No lo deseo</option>
                    </select>
                </label>
            </div>
        </section>
        <form class="flex w-full flex-wrap gap-10 mt-11 mb-10 justify-start text-gray-500 items-center" action=""
            id="form-financiamiento-p2">
            <label class="font-bold flex flex-col" for="nombre">Nombre (s)
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text" id="nombre"
                    name="nombre" placeholder="Nombre(s)">
            </label>

            <label class="font-bold flex flex-col" for="apellidoPaterno">Apellido paterno
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text"
                    id="apellidoPaterno" name="apellidoPaterno" placeholder="Apellido paterno">
            </label>

            <label class="font-bold flex flex-col" for="apellidoMaterno">Apellido materno
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text"
                    id="apellidoMaterno" name="apellidoMaterno" placeholder="Apellido materno">
            </label>

            <label class="font-bold flex flex-col" for="fechaNacimiento">Fecha de nacimiento
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="date"
                    id="fechaNacimiento" name="fechaNacimiento">
            </label>

            <label class="font-bold flex flex-col" for="telefono">Teléfono
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text" id="telefono"
                    name="telefono" placeholder="Número de teléfono">
            </label>

            <label class="font-bold flex flex-col" for="email">Correo Electrónico
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="email" id="email"
                    name="email" placeholder="Correo electrónico">
            </label>

            <label class="font-bold flex flex-col" for="genero">Género
                <select class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" id="genero" name="genero">
                    <option value="" selected disabled hidden>Selecciona una opción</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                </select>
            </label>

            <label class="font-bold flex flex-col" for="estadoNacimiento">Estado de Nacimiento
                <select class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" id="estadoNacimiento"
                    name="estadoNacimiento">
                    <option value="" selected disabled hidden>Selecciona una opción</option>
                    <option value="DIF">Distrito Federal</option>
                    <option value="AGS">Aguascalientes</option>
                    <option value="BCN">Baja California</option>
                    <option value="BCS">Baja California Sur</option>
                    <option value="CAM">Campeche</option>
                    <option value="CHP">Chiapas</option>
                    <option value="CHI">Chihuahua</option>
                    <option value="COA">Coahuila</option>
                    <option value="COL">Colima</option>
                    <option value="DUR">Durango</option>
                    <option value="GTO">Guanajuato</option>
                    <option value="GRO">Guerrero</option>
                    <option value="HGO">Hidalgo</option>
                    <option value="JAL">Jalisco</option>
                    <option value="MEX">México</option>
                    <option value="MIC">Michoacán</option>
                    <option value="MOR">Morelos</option>
                    <option value="NAY">Nayarit</option>
                    <option value="NLE">Nuevo León</option>
                    <option value="OAX">Oaxaca</option>
                    <option value="PUE">Puebla</option>
                    <option value="QRO">Querétaro</option>
                    <option value="ROO">Quintana Roo</option>
                    <option value="SLP">San Luis Potosí</option>
                    <option value="SIN">Sinaloa</option>
                    <option value="SON">Sonora</option>
                    <option value="TAB">Tabasco</option>
                    <option value="TAM">Tamaulipas</option>
                    <option value="TLX">Tlaxcala</option>
                    <option value="VER">Veracruz</option>
                    <option value="YUC">Yucatán</option>
                    <option value="ZAC">Zacatecas</option>
                </select>
            </label>

            <label class="font-bold flex flex-col" for="rfc">RFC
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text" id="rfc" name="rfc"
                    placeholder="Ingresa tu RFC">
            </label>

            <label class="font-bold flex flex-col" for="curp">CURP
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text" id="curp"
                    name="curp" placeholder="CURP">
            </label>

            <label class="font-bold flex flex-col" for="regimenFiscal">Régimen Fiscal
                <select class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" id="regimenFiscal"
                    name="regimenFiscal">
                    <option value="" selected disabled hidden>Selecciona una opción</option>
                    <option value="601">General de Ley Personas Morales</option>
                    <option value="603">Personas Morales con Fines no Lucrativos</option>
                    <option value="605">Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                    <option value="606">Arrendamiento</option>
                    <option value="608">Demás ingresos</option>
                    <option value="609">Consolidación</option>
                    <option value="610">Residentes en el Extranjero sin Establecimiento Permanente en México</option>
                    <option value="611">Ingresos por Dividendos (socios y accionistas)</option>
                    <option value="612">Personas Físicas con Actividades Empresariales y Profesionales</option>
                    <option value="614">Ingresos por intereses</option>
                    <option value="616">Sin obligaciones fiscales</option>
                    <option value="620">Sociedades Cooperativas de Producción que optan por diferir sus ingresos
                    </option>
                    <option value="621">Incorporación Fiscal</option>
                    <option value="622">Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                    <option value="623">Opcional para Grupos de Sociedades</option>
                    <option value="624">Coordinados</option>
                    <option value="628">Hidrocarburos</option>
                    <option value="607">Régimen de Enajenación o Adquisición de Bienes</option>
                </select>
            </label>

            <label class="font-bold flex flex-col" for="fuenteIngresos">Fuente de ingresos
                <select class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" id="fuenteIngresos"
                    name="fuenteIngresos">
                    <option value="" selected disabled hidden>Selecciona una opción</option>
                    <option value="Salario">Salario</option>
                    <option value="Honorarios">Honorarios</option>
                    <option value="Arrendamiento">Arrendamiento</option>
                    <option value="Actividades Empresariales">Actividades Empresariales</option>
                    <option value="Actividades Profesionales">Actividades Profesionales</option>
                    <option value="Intereses">Intereses</option>
                    <option value="Dividendos">Dividendos</option>
                    <option value="Premios">Premios</option>
                    <option value="Venta de Bienes">Venta de Bienes</option>
                    <option value="Otro">Otro</option>
                </select>
            </label>

            <label class="font-bold flex flex-col" for="ingresoNeto">Ingreso neto
                <input class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2" type="text" id="ingresoNeto"
                    name="ingresoNeto" placeholder="Tu ingreso neto">
            </label>
        </form>
    </main>

    <footer class="flex justify-around mt-20">
        <button id="cancel" class="bg-gray-600 py-5 px-7 rounded-lg text-white font-bold text-3xl">Cancelar</button>
        <button id="btnGenerarFinanciamiento"
            class="bg-[#FF002E] px-32 rounded-lg text-white font-bold text-3xl">Generar Financiamiento</button>
    </footer>

    <script>
        // Obtener todos los inputs y labels
        const inputs = document.querySelectorAll('input[type="radio"]');
        const labels = document.querySelectorAll('label');

        // Agregar un event listener a cada input
        inputs.forEach(input => {
            input.addEventListener('change', function () {
                // Remover la clase 'bg-red-500', 'text-white' de todos los divs
                document.querySelectorAll('div').forEach(div => {
                    div.classList.remove('bg-red-500', 'text-white');
                });

                // Si el input está seleccionado, agregar la clase 'bg-red-500', 'text-white' a su div padre
                if (this.checked) {
                    this.closest('div').classList.add('bg-red-500', 'text-white');
                }
            });
        });

        document.getElementById('cancel').addEventListener('click', function () {
            window.location.href = '/catalogo';
        });

        document.getElementById('btnGenerarFinanciamiento').addEventListener('click', function () {
            const valorVehiculo = document.getElementById('valorVehiculo').value;
            const engancheVehiculo = document.getElementById('engancheVehiculo').value;
            const seguro = document.getElementById('Seguro').value;
            const mensualidades = document.querySelector('input[name="mensualidad"]:checked').value;

            // Asumiendo que tienes campos para estos en tu formulario
            const nombre = document.getElementById('nombre').value;
            const apellidoPaterno = document.getElementById('apellidoPaterno').value;
            const apellidoMaterno = document.getElementById('apellidoMaterno').value;
            const fechaNacimiento = document.getElementById('fechaNacimiento').value;
            const telefono = document.getElementById('telefono').value;
            const correo = document.getElementById('email').value;
            const genero = document.getElementById('genero').value;
            const estadoNacimiento = document.getElementById('estadoNacimiento').value;
            const rfc = document.getElementById('rfc').value;
            const curp = document.getElementById('curp').value;
            const regimenFiscal = document.getElementById('regimenFiscal').value;
            const fuenteIngresos = document.getElementById('fuenteIngresos').value;
            const ingresoNeto = document.getElementById('ingresoNeto').value;

            // Obtener idVehiculo desde la URL
            const urlParams = new URLSearchParams(window.location.search);
            const idVehiculo = urlParams.get('idVehiculo');

            const data = {
                valorVehiculo,
                engancheVehiculo,
                seguro,
                duracionSeguro: seguro, // Asumiendo que la duración del seguro es el mismo valor
                mensualidades,
                nombre,
                apellidoPaterno,
                apellidoMaterno,
                fechaNacimiento,
                telefono,
                correo,
                genero,
                estadoNacimiento,
                rfc,
                curp,
                regimenFiscal,
                fuenteIngresos,
                ingresoNeto,
                idVehiculo
            };

            fetch('/procesarFinanciamiento', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(response => {
                    console.log("Respuesta del servidor:", response);  // Agrega esta línea para depurar
                    if (response.idFinanciamiento) {
                        window.location.href = `/financiamiento2Clientes?idFinanciamiento=${response.idFinanciamiento}`;
                    } else {
                        throw new Error('ID de financiamiento no recibido.');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Error al generar el financiamiento: ' + error.message);
                });
        });
    </script>
</body>

</html>