<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../output.css">
    <title>Financiamiento P2</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="w-full px-10 py-[52px]">
    <header class="flex justify-start w-full mb-20">
        <img class="w-80 h-[53px]" src="../img/logoAutocom.png" alt="logo autocom">
    </header>
    <main class="grid grid-cols-2 w-full">
        <div class="max-w-[628px]">
            <h1 class="font-bold text-5xl mb-5">¡Felicidades! tu plan de financiamiento ha sido creado.</h1>
            <div class="bg-[#F3F3F3] w-[628px] py-[13px] px-5 rounded-[14px]">
                <h3 class="font-bold text-[32px]">¿Cuál es el siguiente paso?</h3>
                <p class="text-[32px]">Descarga tu plan de financiamiento y acércate a la sucursal indicada en el plan
                    de financiamiento para poder seguir con el procedimiento de compra.</p>
            </div>
        </div>
        <div class="flex justify-center items-center w-full">
            <img class="w-[90%]" src="../img/carro1.png" alt="modelo de carro">
        </div>
    </main>
    <footer class="flex justify-around mt-20">
        <button onclick="window.location.href='/reserva1?idFinanciamiento=<%= idFinanciamiento %>'"
            class="bg-[#FF002E] py-5 px-12 rounded-lg font-bold text-gray-50 hover:bg-red-400">Reservar</button> <button
            class="bg-[#7c7c7c] py-5 px-7 rounded-lg text-white font-bold text-3xl"
            onclick="verFinanciamiento('<%= idFinanciamiento %>')">Ver financiamiento</button>
        <button class="bg-black py-5 px-7 rounded-lg text-white font-bold text-3xl">Volver al inicio</button>
    </footer>
</body>
<script>
    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const isDownloadSuccess = urlParams.has('idFinanciamiento');

        if (isDownloadSuccess) {
            Swal.fire({
                title: 'Éxito',
                text: 'El archivo de financiamiento ha sido descargado exitosamente.',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        }
    };
</script>

<script>
    function verFinanciamiento(idFinanciamiento) {
        window.location.href = `/verFinanciamiento?idFinanciamiento=${idFinanciamiento}`;
    }
</script>

</html>